{% extends "layout.html" %}

{% block content %}

    <!-- copied from login form but changed. so we just cut some stuff off,
         that we do not need in that template. so it is a page where the user requests to reset the password  -->

    <div class = "content-section">
        
        <form method="POST" action=""> 
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend> 
                
                <div class ="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %} 
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
               
            </fieldset>

            <div class ="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
    
{% endblock content %}